@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

html {
  font-family: "Dosis", sans-serif;
}

.navigation {
  background-color: #1f2937;
  color: #f9faf8;
}

.header-sup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12vw;
}

.logo {
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 18px;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

a:hover {
  color: #3882f6;
  transition: 0.2s;
}

.description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 6rem 12vw;
}

.text {
  width: 27vw;
  display: flex;
  flex-flow: column wrap;
}

.text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  margin-bottom: 0.5rem;
}

.text p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 0.7rem;
}

.background {
  display: flex;
  background-image: url(img/tokyo.jpg);
  background-size: cover;
  width: 450px;
  height: 250px;
  border-radius: 0.7rem;
}

button {
  width: 7rem;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #e5e7eb;
  background-color: #3882f6;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #f9faf8;
  color: #3882f6;
  transition: 0.2s;
}

.information {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding-bottom: 4rem;
}

.subtitle {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  padding: 2rem 1rem;
}

.card-container {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
  gap: 2rem;
}

.card-img {
  width: 140px;
  height: 10vh;
  border: 3px solid #3882f6;
  border-radius: 10px;
  display: flex;
  flex-flow: column wrap;
}

.card-text {
  width: 140px;
  padding: 0.5rem 0;
  text-align: center;
  font-size: 16px;
}

.testimonials {
  background-color: #e5e7eb;
  color: #1f2937;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-style: italic;
}

.testimonial-text {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  width: 55%;
  font-size: 36px;
  font-weight: 300;
}

.author {
  font-size: 25px;
  font-weight: bold;
  text-align: end;
}

.join-us {
  padding: 4rem 1rem;
  color: #f9faf8;
  display: flex;
  justify-content: center;
}

.action {
  width: 60%;
  background-color: #3882f6;
  padding: 2rem 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call {
  width: 80%;
  padding: 0 0.5rem;
  font-weight: bold;
  font-size: 18px;
}

.sign-up {
  width: 80%;
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.register-action {
  border: 1px solid #f9faf8;
  border-radius: 8px;
  /* margin-bottom: 1rem; */
}

footer {
  background-color: #1f2937;
  padding: 1.5rem;
  text-align: center;
  color: #f9faf8;
}
